{% load staticfiles %}


<!doctype html>
<html lang="en">

	<head>
		<link rel="icon" href="{% static 'warkah/images/avatar-1.png' %}" type="image/x-icon">

		<title>Cetak Bukti Pengambilan</title>
			

		<!-- DATATABLES JS & CSS START -->
		<!-- JS -->
		<script src="/static/sipekat/datatables/js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="{% static 'sipekat/scripts/bootstrap.min.js' %}"></script>
		
		<!-- CSS -->
		<link href="{% static 'sipekat/css/main.css' %}" rel="stylesheet">

	</head>

	<body>
	<div id="print_area">

		<font face="Courier New" >
			<h2 style="text-align:center"><b>Tanda Bukti Pengambilan Sertifikat Kegiatan Rutin</b></h2>
			<h3 style="text-align:center"><b>Kantor Pertanahan Kabupaten Ngada</b></h3><br>
		</font>

		<font size="3" face="Courier New" >
			<table>
				<tr>
					<td style="width:35%" height="30"> <b> Nama Pengambil </b> </td>
					<td style="width:5%"> : </td>
					<td> {{ pengambil.nama }} </td>
				</tr>
					
				<tr>
					<td style="width:35%" height="30"> <b> Nomor KTP Pengambil </b> </td>
					<td> : </td>
					<td> {{ pengambil.nik }} </td>
				</tr>
					
				<tr>
					<td style="width:35%" height="30"> <b> Alamat Pengambil </b> </td>
					<td> : </td>
					<td> {{ pengambil.alamat }} </td>
				</tr>
					
				<tr>
					<td style="width:35%" height="30"> <b> Nomor Telepon Pengambil </b> </td>
					<td> : </td>
					<td> {{ pengambil.tlp }} </td>
				</tr>
					
				<tr>
					<td style="width:35%" height="30"> <b> Waktu Pengambilan </b> </td>
					<td> : </td>
					<td> {{ pengambil.tgl }} </td>
				</tr>
				
				<tr>
					<td style="width:35%" height="30"> <b> Foto Pengambil Sertifikat </b> </td>
					<td> : </td>
					<td> <img src="{{ pengambil.gambar }}" alt="Foto Pengambil Sertifikat" height="200" width="400"> </td>
				</tr>
			</table><br>
		</font>
			
		<font size="3" face="Courier New" >
			<table border="1" cellspacing="0" cellpadding="4" id="TbSertifikat">
				<thead>
					<tr>
						<th style="text-align:center">No.</th>
						<th style="text-align:center">Nama Pemilik</th>
						<th style="text-align:center">Nomor Hak</th>
						<th style="text-align:center">Nomor Induk Bidang</th>
						<th style="text-align:center">Luas (M²)</th>
						<th style="text-align:center">Tahun</th>
						<th style="text-align:center">Kecamatan</th>
						<th style="text-align:center">Desa/Kelurahan</th>
						<th style="text-align:center">Jenis Kegiatan</th>
						<th style="text-align:center">Keadaan Tanah</th>
					</tr>
				</thead>
				<tbody>
					{% for val in sertifikat %}
					<tr>
						<td style="text-align:center"> {{ val.no }} </td>
						<td> {{ val.pemilik }} </td>
						<td style="text-align:center"> {{ val.nomor }} </td>
						<td style="text-align:center"> {{ val.nib }} </td>
						<td style="text-align:center"> {{ val.luas }} </td>
						<td style="text-align:center"> {{ val.tahun }} </td>
						<td style="text-align:center"> {{ val.kecamatan }} </td>
						<td style="text-align:center"> {{ val.kelurahan }} </td>
						<td style="text-align:center"> {{ val.kegiatan }} </td>
						<td style="text-align:center"> {{ val.jns_bidang }} </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<br>&nbsp;

			<table>
				<tr>
					<td style="text-align:center">Tanda Tangan Petugas</td>
					<td width="67%"></td>
					<td style="text-align:center">Tanda Tangan Penerima</td>
				</tr>
				<tr>
					<td height="100"></td>
				</tr>
				<tr>
					<td style="text-align:center"><hr style="border-style: solid none; border-width: 1px 0; margin: 18px 0;" width="100%"></td>
					<td width="67%"></td>
					<td style="text-align:center"><hr style="border-style: solid none; border-width: 1px 0; margin: 18px 0;" width="100%"></td>
				</tr>
				<tr>
					<td style="text-align:center">{{ request.session.nama }}</td>
					<td width="67%"></td>
					<td style="text-align:center">{{ pengambil.nama }}</td>
				</tr>
			</table>
			&nbsp;

		</font>
	</div>

	<div align='center'>
		<a href="{% url 'list_pengambil' %}" type="button" class="btn btn-warning"><span class="btn-icon-wrapper pr-2"><i class="fas fa-arrow-left"></i></span><b>Kembali</b></a>
		<button id="cetak" type="button" class="btn btn-primary"><span class="btn-icon-wrapper pr-2"><i class="fas fa-save"></i></span><b>Cetak</b></button>
	</div>

	<script type="text/javascript">
			$(document).ready(function() {
				$('#cetak').on('click', function() {
					var prtContent = document.getElementById("print_area");
					var WinPrint = window.open('', '', 'left=0, top=0, width=900, height=1000, toolbar=0, scrollbars=0, status=0');
					WinPrint.document.write(prtContent.innerHTML);
					WinPrint.document.close();
					WinPrint.focus();
					WinPrint.print();
					WinPrint.close();
				});
			});
	</script>


	</body>
</html>